{
  "openapi": "3.0.1",
  "info": {
    "title": "OPEN API CRM",
    "description": "## Tổng quan\r\n\r\nOPEN API CRM cung cấp các phương thức để quản lý dữ liệu của một số phân hệ trên CRM. Bạn có thể tạo, lấy, cập nhật và xóa dữ liệu. Tài liệu này giúp bạn hiểu cách tương tác với API để tích hợp chúng vào ứng dụng của bạn.\r\n\n## Xác Thực\r\n\r\nQuy trình các bước thực hiện sinh token để sử dụng Open API:\r\n\r\n### Bước 1: Sinh token bằng api [Account](#tag/Account) (sử dụng AppID và mã bảo mật do CRM cung cấp làm tham số đầu vào) và sao chép kết quả đoạn mã api trả ra\r\n```bat\r\ncurl --location --request POST 'https://crmconnect.misa.vn/api/v2/Account' \\\r\n--header 'Content-Type: application/json' \\\r\n--data '{\r\n    \"client_id\": \"PublicAPI\",\r\n    \"client_secret\": \"zrt8J3MqqWEmdrL+oXldGuQbaIuETNVE5k6uQuPLIEc=\"\r\n}'\r\n```\r\nResponse\r\n```json\r\n{\r\n    \"success\": true,\r\n    \"code\": 0,\r\n    \"data\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXlsb2FkZGF0YSI6Ik9NdVc2dytKL0o4dWN0ZUVwQ2x4dlBtbVNuNElnQ2ZPSHlmQVJpOStISU9RWXYzSjBqWHQ1NGFmaVAvYXkzNzJ2UnoyVXJmWDA2dWtXUzZoOWRUVGc0Tzk2NVRYTDEwY1pTWWt1RTJuVUZhYTMrbHo3enpEYWx4RDFHcDE5UzVqdi9nRDduanNHNW5zVi9vUXRENVFDejJXT3RKZDQ3UXA4UmRVem05dWZkaEtsVEtCTVJHUWtwQ1pJbHZrU1JoOVFMdTE3RVFWU3JBbUVITGVoTElxeU5qc1M3MWFkYUZWNVVRQk9jd294OEU9IiwiZXhwIjoxNzEwODIwNjE0LCJpc3MiOiJNSVNBIiwiYXVkIjoiQU1JU0NSTTIifQ.bQ7YCePHY4sX1t0AzDGfLhp6N0fKaT0oxNM6Cy6sf88\"\r\n}\r\n```\r\n\r\n### Bước 2: Thêm header Authorization: Bearer {token} vào các request xử lý dữ liệu và thực hiện gọi các api mà CRM cũng cấp\r\n```\r\ncurl --location --request GET 'https://crmconnect.misa.vn/api/v2/Customers' \\\r\n--header 'Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXlsb2FkZGF0YSI6Ik9NdVc2dytKL0o4dWN0ZUVwQ2x4dlBtbVNuNElnQ2ZPSHlmQVJpOStISU9RWXYzSjBqWHQ1NGFmaVAvYXkzNzJ2UnoyVXJmWDA2dWtXUzZoOWRUVGc0Tzk2NVRYTDEwY1pTWWt1RTJuVUZhYTMrbHo3enpEYWx4RDFHcDE5UzVqdi9nRDduanNHNW5zVi9vUXRENVFDejJXT3RKZDQ3UXA4UmRVem05dWZkaEtsVEtCTVJHUWtwQ1pJbHZrU1JoOVFMdTE3RVFWU3JBbUVITGVoTElxeU5qc1M3MWFkYUZWNVVRQk9jd294OEU9IiwiZXhwIjoxNzEwODIwNjE0LCJpc3MiOiJNSVNBIiwiYXVkIjoiQU1JU0NSTTIifQ.bQ7YCePHY4sX1t0AzDGfLhp6N0fKaT0oxNM6Cy6sf88'\r\n```\r\n\n## Lỗi\r\n|HTTP Status code   |Mô tả   |\r\n| ------------ | ------------ |\r\n|200   |Server xử lý thành công.|\r\n|400   |Dữ liệu không hợp lệ.|\r\n|401   |Token hết hạn hoặc không hợp lệ. |\r\n|404   |Server không tìm thấy bất kì tài nguyên nào liên quan tới request URL này.|\r\n|500   |Có lỗi xảy ra phía server.|\r\n\r\n### Property code\r\nHệ thống OPEN API CRM khi trả về HTTP status code 200 sử dụng property \"code\" trong response để cho biết sự thành công hay thất bại của request\r\n\r\n|code   |Mô tả   |\r\n| ------------ | ------------ |\r\n|200   |Xử lý thành công ít nhất 1 bản ghi. Chú ý: Với phương thức GET đồng nghĩa với việc dữ liệu trả về đã nằm trong response|\r\n|400   |Dữ liệu không hợp lệ, sẽ kèm theo thông tin chi tiết lỗi.|\r\n|401   |Không có quyền thực hiện chức năng. |\r\n|500   |Có lỗi xảy ra phía server.|\r\n\r\n### Property results\r\n|Property   |Mô tả   |\r\n| ------------ | ------------ |\r\n|success  |Xử lý thành công hay thất bại.|\r\n|data  |ID bản ghi nếu thành công.|\r\n|validate_infos  |Chi tiết lỗi.|\r\n\r\n\r\nVí dụ:\r\n- Respone khi xử lý thành công\r\n```json\r\n{\r\n    \"success\": true,\r\n    \"code\": 200,\r\n    \"results\": [\r\n        {\r\n            \"success\": true,\r\n            \"data\": 1\r\n        },\r\n        {\r\n            \"success\": true,\r\n            \"data\": 2\r\n        }\r\n    ]\r\n}\r\n```\r\n- Respone khi xử lý thất bại\r\n```json\r\n{\r\n    \"success\": false,\r\n    \"code\": 400,\r\n    \"results\": [\r\n        {\r\n            \"success\": false,\r\n            \"validate_infos\": [\r\n                {\r\n                    \"error_message\": \"Giá trị của Số đơn hàng đã bị trùng.\",\r\n                    \"field_name\": \"sale_order_no\"\r\n                }\r\n            ]\r\n        },\r\n        {\r\n            \"success\": false,\r\n            \"validate_infos\": [\r\n                {\r\n                    \"error_message\": \"Không tồn tại\",\r\n                    \"field_name\": \"account_name\"\r\n                }\r\n            ]\r\n        }\r\n    ]\r\n}\r\n```\r\n",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://crmconnect.misa.vn"
    }
  ],
  "paths": {
    "/api/v2/Account": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Hàm thực hiện Sinh token để truy cập vào các api khác.",
        "description": "Sau khi sinh token xong các API sau yêu cầu header truyền thêm Clientid  \r\nVD: Clientid: misajsc",
        "requestBody": {
          "description": "Tham số gọi request sinh token: client_id(AppID), client_secret(Mã bảo mật)",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestLogin"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestLogin"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestLogin"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestLogin"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v2/Contacts": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Thực hiện thêm mới theo danh sách",
        "parameters": [
          {
            "name": "Clientid",
            "in": "header",
            "description": "Mã ứng dụng đăng ký trên crm",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Request body: Danh sách liên hệ\r\n-\tXem thêm các trường có thể sử dụng tại ứng dụng CRM → Thiết lập → Dành cho nhà phát triển → API → tab Trường",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "form_layout": {
                    "type": "string",
                    "description": "Bố cục"
                  },
                  "contact_code": {
                    "type": "string",
                    "description": "Mã liên hệ"
                  },
                  "salutation": {
                    "type": "string",
                    "description": "Xưng hô"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Tên"
                  },
                  "first_name": {
                    "type": "string",
                    "description": "Họ và đệm"
                  },
                  "contact_name": {
                    "type": "string",
                    "description": "Họ và tên"
                  },
                  "title": {
                    "type": "string",
                    "description": "Chức danh"
                  },
                  "department": {
                    "type": "string",
                    "description": "Phòng ban"
                  },
                  "account_name": {
                    "type": "string",
                    "description": "Tổ chức"
                  },
                  "mobile": {
                    "type": "string",
                    "description": "ĐT di động"
                  },
                  "other_phone": {
                    "type": "string",
                    "description": "Điện thoại khác"
                  },
                  "office_email": {
                    "type": "string",
                    "description": "Email cơ quan"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email cá nhân"
                  },
                  "office_tel": {
                    "type": "string",
                    "description": "ĐT cơ quan"
                  },
                  "lead_source": {
                    "type": "string",
                    "description": "Nguồn gốc"
                  },
                  "account_type": {
                    "type": "string",
                    "description": "Phân loại khách hàng"
                  },
                  "customer_since_date": {
                    "type": "string",
                    "description": "Là khách hàng từ",
                    "format": "date"
                  },
                  "description": {
                    "type": "string",
                    "description": "Mô tả"
                  },
                  "email_opt_out": {
                    "type": "boolean",
                    "description": "Không gửi Email"
                  },
                  "phone_opt_out": {
                    "type": "boolean",
                    "description": "Không gọi điện"
                  },
                  "mailing_country": {
                    "type": "string",
                    "description": "Quốc gia"
                  },
                  "mailing_province": {
                    "type": "string",
                    "description": "Tỉnh/Thành phố"
                  },
                  "mailing_district": {
                    "type": "string",
                    "description": "Quận/Huyện"
                  },
                  "mailing_ward": {
                    "type": "string",
                    "description": "Phường/Xã"
                  },
                  "mailing_street": {
                    "type": "string",
                    "description": "Số nhà, Đường phố"
                  },
                  "mailing_zip": {
                    "type": "string",
                    "description": "Mã vùng"
                  },
                  "mailing_address": {
                    "type": "string",
                    "description": "Địa chỉ"
                  },
                  "shipping_country": {
                    "type": "string",
                    "description": "Quốc gia (Giao hàng)"
                  },
                  "shipping_province": {
                    "type": "string",
                    "description": "Tỉnh/Thành phố (Giao hàng)"
                  },
                  "shipping_district": {
                    "type": "string",
                    "description": "Quận/Huyện (Giao hàng)"
                  },
                  "shipping_ward": {
                    "type": "string",
                    "description": "Phường/Xã (Giao hàng)"
                  },
                  "shipping_street": {
                    "type": "string",
                    "description": "Số nhà, Đường phố (Giao hàng)"
                  },
                  "shipping_zip": {
                    "type": "string",
                    "description": "Mã vùng (Giao hàng)"
                  },
                  "shipping_address": {
                    "type": "string",
                    "description": "Địa chỉ (Giao hàng)"
                  },
                  "date_of_birth": {
                    "type": "string",
                    "description": "Ngày sinh",
                    "format": "date"
                  },
                  "gender": {
                    "type": "string",
                    "description": "Giới tính"
                  },
                  "married_status": {
                    "type": "string",
                    "description": "Tình trạng hôn nhân"
                  },
                  "facebook": {
                    "type": "string",
                    "description": "Facebook"
                  },
                  "bank_account": {
                    "type": "string",
                    "description": "Tài khoản ngân hàng"
                  },
                  "bank_name": {
                    "type": "string",
                    "description": "Mở tại ngân hàng"
                  },
                  "owner_name": {
                    "type": "string",
                    "description": "Chủ sở hữu"
                  },
                  "zalo": {
                    "type": "string",
                    "description": "Zalo"
                  }
                }
              },
              "example": [
                {
                  "form_layout": "Mẫu tiêu chuẩn",
                  "contact_code": "LH00001",
                  "salutation": "Anh",
                  "last_name": "A",
                  "first_name": "Nguyễn Văn",
                  "contact_name": "Nguyễn Văn A",
                  "title": "Chủ tịch",
                  "department": "Phòng kinh doanh",
                  "account_name": "KH000001",
                  "mobile": "0123456789",
                  "other_phone": "0123456789",
                  "office_email": "nva@gmail.com",
                  "email": "nva@gmail.com",
                  "office_tel": "0123456789",
                  "lead_source": "Thông qua hội thảo,tập huấn",
                  "account_type": "Khách hàng lẻ",
                  "customer_since_date": "2021-02-25T00:00:00.0000000+07:00",
                  "description": "Mô tả",
                  "email_opt_out": true,
                  "phone_opt_out": true,
                  "mailing_country": "Việt Nam",
                  "mailing_province": "Hà Nội",
                  "mailing_district": "Đống Đa",
                  "mailing_ward": "Phương Mai",
                  "mailing_street": "",
                  "mailing_zip": "01006",
                  "mailing_address": "Phường Phương Mai, Quận Đống Đa, Thành phố Hà Nội, Việt Nam",
                  "shipping_country": "Việt Nam",
                  "shipping_province": "Hà Nội",
                  "shipping_district": "Đống Đa",
                  "shipping_ward": "Phương Mai",
                  "shipping_street": "",
                  "shipping_zip": "01006",
                  "shipping_address": "Phường Phương Mai, Quận Đống Đa, Thành phố Hà Nội, Việt Nam",
                  "date_of_birth": "1994-01-01T00:00:00.0000000+07:00",
                  "gender": "Nam",
                  "married_status": "Chưa kết hôn",
                  "facebook": "",
                  "bank_account": "",
                  "bank_name": "VCB",
                  "owner_name": "Lê Thị Lan (NV000001)",
                  "zalo": "0123456789"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseV2"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Thực hiện cập nhật theo danh sách",
        "parameters": [
          {
            "name": "Clientid",
            "in": "header",
            "description": "Mã ứng dụng đăng ký trên crm",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Request body: Danh sách liên hệ\r\n-\tXem thêm các trường có thể sử dụng tại ứng dụng CRM → Thiết lập → Dành cho nhà phát triển → API → tab Trường",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "form_layout": {
                    "type": "string",
                    "description": "Bố cục"
                  },
                  "contact_code": {
                    "type": "string",
                    "description": "Mã liên hệ"
                  },
                  "salutation": {
                    "type": "string",
                    "description": "Xưng hô"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Tên"
                  },
                  "first_name": {
                    "type": "string",
                    "description": "Họ và đệm"
                  },
                  "contact_name": {
                    "type": "string",
                    "description": "Họ và tên"
                  },
                  "title": {
                    "type": "string",
                    "description": "Chức danh"
                  },
                  "department": {
                    "type": "string",
                    "description": "Phòng ban"
                  },
                  "account_name": {
                    "type": "string",
                    "description": "Tổ chức"
                  },
                  "mobile": {
                    "type": "string",
                    "description": "ĐT di động"
                  },
                  "other_phone": {
                    "type": "string",
                    "description": "Điện thoại khác"
                  },
                  "office_email": {
                    "type": "string",
                    "description": "Email cơ quan"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email cá nhân"
                  },
                  "office_tel": {
                    "type": "string",
                    "description": "ĐT cơ quan"
                  },
                  "lead_source": {
                    "type": "string",
                    "description": "Nguồn gốc"
                  },
                  "account_type": {
                    "type": "string",
                    "description": "Phân loại khách hàng"
                  },
                  "customer_since_date": {
                    "type": "string",
                    "description": "Là khách hàng từ",
                    "format": "date"
                  },
                  "description": {
                    "type": "string",
                    "description": "Mô tả"
                  },
                  "email_opt_out": {
                    "type": "boolean",
                    "description": "Không gửi Email"
                  },
                  "phone_opt_out": {
                    "type": "boolean",
                    "description": "Không gọi điện"
                  },
                  "mailing_country": {
                    "type": "string",
                    "description": "Quốc gia"
                  },
                  "mailing_province": {
                    "type": "string",
                    "description": "Tỉnh/Thành phố"
                  },
                  "mailing_district": {
                    "type": "string",
                    "description": "Quận/Huyện"
                  },
                  "mailing_ward": {
                    "type": "string",
                    "description": "Phường/Xã"
                  },
                  "mailing_street": {
                    "type": "string",
                    "description": "Số nhà, Đường phố"
                  },
                  "mailing_zip": {
                    "type": "string",
                    "description": "Mã vùng"
                  },
                  "mailing_address": {
                    "type": "string",
                    "description": "Địa chỉ"
                  },
                  "shipping_country": {
                    "type": "string",
                    "description": "Quốc gia (Giao hàng)"
                  },
                  "shipping_province": {
                    "type": "string",
                    "description": "Tỉnh/Thành phố (Giao hàng)"
                  },
                  "shipping_district": {
                    "type": "string",
                    "description": "Quận/Huyện (Giao hàng)"
                  },
                  "shipping_ward": {
                    "type": "string",
                    "description": "Phường/Xã (Giao hàng)"
                  },
                  "shipping_street": {
                    "type": "string",
                    "description": "Số nhà, Đường phố (Giao hàng)"
                  },
                  "shipping_zip": {
                    "type": "string",
                    "description": "Mã vùng (Giao hàng)"
                  },
                  "shipping_address": {
                    "type": "string",
                    "description": "Địa chỉ (Giao hàng)"
                  },
                  "date_of_birth": {
                    "type": "string",
                    "description": "Ngày sinh",
                    "format": "date"
                  },
                  "gender": {
                    "type": "string",
                    "description": "Giới tính"
                  },
                  "married_status": {
                    "type": "string",
                    "description": "Tình trạng hôn nhân"
                  },
                  "facebook": {
                    "type": "string",
                    "description": "Facebook"
                  },
                  "bank_account": {
                    "type": "string",
                    "description": "Tài khoản ngân hàng"
                  },
                  "bank_name": {
                    "type": "string",
                    "description": "Mở tại ngân hàng"
                  },
                  "owner_name": {
                    "type": "string",
                    "description": "Chủ sở hữu"
                  },
                  "zalo": {
                    "type": "string",
                    "description": "Zalo"
                  }
                }
              },
              "example": [
                {
                  "form_layout": "Mẫu tiêu chuẩn",
                  "contact_code": "LH00001",
                  "salutation": "Anh",
                  "last_name": "A",
                  "first_name": "Nguyễn Văn",
                  "contact_name": "Nguyễn Văn A",
                  "title": "Chủ tịch",
                  "department": "Phòng kinh doanh",
                  "account_name": "KH000001",
                  "mobile": "0123456789",
                  "other_phone": "0123456789",
                  "office_email": "nva@gmail.com",
                  "email": "nva@gmail.com",
                  "office_tel": "0123456789",
                  "lead_source": "Thông qua hội thảo,tập huấn",
                  "account_type": "Khách hàng lẻ",
                  "customer_since_date": "2021-02-25T00:00:00.0000000+07:00",
                  "description": "Mô tả",
                  "email_opt_out": true,
                  "phone_opt_out": true,
                  "mailing_country": "Việt Nam",
                  "mailing_province": "Hà Nội",
                  "mailing_district": "Đống Đa",
                  "mailing_ward": "Phương Mai",
                  "mailing_street": "",
                  "mailing_zip": "01006",
                  "mailing_address": "Phường Phương Mai, Quận Đống Đa, Thành phố Hà Nội, Việt Nam",
                  "shipping_country": "Việt Nam",
                  "shipping_province": "Hà Nội",
                  "shipping_district": "Đống Đa",
                  "shipping_ward": "Phương Mai",
                  "shipping_street": "",
                  "shipping_zip": "01006",
                  "shipping_address": "Phường Phương Mai, Quận Đống Đa, Thành phố Hà Nội, Việt Nam",
                  "date_of_birth": "1994-01-01T00:00:00.0000000+07:00",
                  "gender": "Nam",
                  "married_status": "Chưa kết hôn",
                  "facebook": "",
                  "bank_account": "",
                  "bank_name": "VCB",
                  "owner_name": "Lê Thị Lan (NV000001)",
                  "zalo": "0123456789"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseV2"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Thực hiện xoá theo danh sách id",
        "parameters": [
          {
            "name": "Clientid",
            "in": "header",
            "description": "Mã ứng dụng đăng ký trên crm",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                },
                "nullable": true
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                },
                "nullable": true
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                },
                "nullable": true
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                },
                "nullable": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseV2"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Paging lấy về danh sách có phân trang",
        "description": "page bắt đầu từ 0, pageSize max là 100, mặc định là 10, orderBy mặc định là theo modified_date desc",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Trang muốn xem",
            "schema": {
              "type": "integer",
              "description": "Trang muốn xem",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Số bản ghi trên 1 trang",
            "schema": {
              "type": "integer",
              "description": "Số bản ghi trên 1 trang",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sắp xếp theo",
            "schema": {
              "type": "string",
              "description": "Sắp xếp theo",
              "default": "modified_date",
              "nullable": true
            }
          },
          {
            "name": "isDescending",
            "in": "query",
            "description": "Giảm dần",
            "schema": {
              "type": "boolean",
              "description": "Giảm dần",
              "default": true
            }
          },
          {
            "name": "Clientid",
            "in": "header",
            "description": "Mã ứng dụng đăng ký trên crm",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseV2"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/Contacts/id": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Lấy dữ liệu theo id",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "danh sách id",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              },
              "description": "danh sách id",
              "nullable": true
            }
          },
          {
            "name": "Clientid",
            "in": "header",
            "description": "Mã ứng dụng đăng ký trên crm",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseV2"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/Contacts/code": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Lấy dữ liệu theo mã",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Clientid",
            "in": "header",
            "description": "Mã ứng dụng đăng ký trên crm",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseV2"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/Customers": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Thực hiện thêm mới theo danh sách",
        "parameters": [
          {
            "name": "Clientid",
            "in": "header",
            "description": "Mã ứng dụng đăng ký trên crm",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Request body: Danh sách khách hàng\r\n-\tXem thêm các trường có thể sử dụng tại ứng dụng CRM → Thiết lập → Dành cho nhà phát triển → API → tab Trường",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_name": {
                    "type": "string",
                    "description": "Chủ sở hữu"
                  },
                  "account_short_name": {
                    "type": "string",
                    "description": "Tên viết tắt"
                  },
                  "fax": {
                    "type": "string",
                    "description": "Fax"
                  },
                  "parent_account_name": {
                    "type": "string",
                    "description": "Đơn vị chủ quản"
                  },
                  "account_type": {
                    "type": "string",
                    "description": "Loại khách hàng"
                  },
                  "sector_name": {
                    "type": "string",
                    "description": "Lĩnh vực"
                  },
                  "no_of_employee_name": {
                    "type": "string",
                    "description": "Quy mô nhân sự"
                  },
                  "bank_account": {
                    "type": "string",
                    "description": "Tài khoản ngân hàng"
                  },
                  "celebrate_date": {
                    "type": "string",
                    "description": "Ngày thành lập/Ngày sinh",
                    "format": "date"
                  },
                  "lead_source": {
                    "type": "string",
                    "description": "Nguồn gốc"
                  },
                  "account_name": {
                    "type": "string",
                    "description": "Tên khách hàng"
                  },
                  "office_email": {
                    "type": "string",
                    "description": "Email"
                  },
                  "website": {
                    "type": "string",
                    "description": "Website"
                  },
                  "account_number": {
                    "type": "string",
                    "description": "Mã khách hàng"
                  },
                  "business_type": {
                    "type": "string",
                    "description": "Loại hình"
                  },
                  "industry": {
                    "type": "string",
                    "description": "Ngành nghề"
                  },
                  "annual_revenue": {
                    "type": "string",
                    "description": "Doanh thu"
                  },
                  "budget_code": {
                    "type": "string",
                    "description": "Mã ngân sách"
                  },
                  "bank_name": {
                    "type": "string",
                    "description": "Mở tại ngân hàng"
                  },
                  "customer_since_date": {
                    "type": "string",
                    "description": "Là khách hàng từ",
                    "format": "date"
                  },
                  "billing_address": {
                    "type": "string",
                    "description": "Địa chỉ (Hóa đơn)"
                  },
                  "billing_country": {
                    "type": "string",
                    "description": "Quốc gia (Hóa đơn)"
                  },
                  "billing_province": {
                    "type": "string",
                    "description": "Tỉnh/Thành phố (Hóa đơn)"
                  },
                  "billing_district": {
                    "type": "string",
                    "description": "Quận/Huyện (Hóa đơn)"
                  },
                  "billing_ward": {
                    "type": "string",
                    "description": "Phường/Xã (Hóa đơn)"
                  },
                  "billing_street": {
                    "type": "string",
                    "description": "Số nhà, Đường phố (Hóa đơn)"
                  },
                  "billing_code": {
                    "type": "string",
                    "description": "Mã vùng (Hóa đơn)"
                  },
                  "shipping_address": {
                    "type": "string",
                    "description": "Địa chỉ (Giao hàng)"
                  },
                  "shipping_country": {
                    "type": "string",
                    "description": "Quốc gia (Giao hàng)"
                  },
                  "shipping_province": {
                    "type": "string",
                    "description": "Tỉnh/Thành phố (Giao hàng)"
                  },
                  "shipping_district": {
                    "type": "string",
                    "description": "Quận/Huyện (Giao hàng)"
                  },
                  "shipping_ward": {
                    "type": "string",
                    "description": "Phường/Xã (Giao hàng)"
                  },
                  "shipping_street": {
                    "type": "string",
                    "description": "Số nhà, Đường phố (Giao hàng)"
                  },
                  "shipping_code": {
                    "type": "string",
                    "description": "Mã vùng (Giao hàng)"
                  },
                  "description": {
                    "type": "string",
                    "description": "Mô tả"
                  },
                  "office_tel": {
                    "type": "string",
                    "description": "Điện thoại"
                  },
                  "form_layout": {
                    "type": "string",
                    "description": "Bố cục"
                  },
                  "tax_code": {
                    "type": "string",
                    "description": "Mã số thuế"
                  },
                  "is_personal": {
                    "type": "boolean",
                    "description": "Là KH cá nhân"
                  },
                  "debt_limit": {
                    "type": "number",
                    "description": "Hạn mức nợ"
                  },
                  "number_of_days_owed": {
                    "type": "integer",
                    "description": "Số ngày được nợ"
                  },
                  "identification": {
                    "type": "string",
                    "description": "Số CMND/CCCD"
                  },
                  "issued_on": {
                    "type": "string",
                    "description": "Ngày cấp",
                    "format": "date"
                  },
                  "place_of_issue": {
                    "type": "string",
                    "description": "Nơi cấp"
                  },
                  "gender": {
                    "type": "string",
                    "description": "Giới tính"
                  }
                }
              },
              "example": [
                {
                  "owner_name": "Lê Thị Lan (NV000001)",
                  "account_short_name": "Anh Thịnh",
                  "fax": "0123456789",
                  "parent_account_name": "Công ty cổ phần MISA",
                  "account_type": "Khách hàng dự án",
                  "sector_name": "Dịch vụ",
                  "no_of_employee_name": "Trên 1000",
                  "bank_account": "",
                  "celebrate_date": "1994-01-01T00:00:00.0000000+07:00",
                  "lead_source": "Marketing",
                  "account_name": "Công ty cổ phần MISA",
                  "office_email": "misa-group@misa.vn",
                  "website": "misa.vn",
                  "account_number": "KH00001",
                  "business_type": "Doanh nghiệp",
                  "industry": "Dịch vụ cung ứng phần mềm",
                  "annual_revenue": "Trên 100 tỷ đồng",
                  "budget_code": "",
                  "bank_name": "ACB",
                  "customer_since_date": "2022-01-01T00:00:00.0000000+07:00",
                  "billing_address": "Phường Phương Mai, Quận Đống Đa, Thành phố Hà Nội, Việt Nam",
                  "billing_country": "Việt Nam",
                  "billing_province": "Hà Nội",
                  "billing_district": "Đống Đa",
                  "billing_ward": "Phương Mai",
                  "billing_street": "",
                  "billing_code": "01006",
                  "shipping_address": "Phường Phương Mai, Quận Đống Đa, Thành phố Hà Nội, Việt Nam",
                  "shipping_country": "Việt Nam",
                  "shipping_province": "Hà Nội",
                  "shipping_district": "Đống Đa",
                  "shipping_ward": "Phương Mai",
                  "shipping_street": "",
                  "shipping_code": "01006",
                  "description": "Mô tả",
                  "office_tel": "0123456789",
                  "form_layout": "Mẫu tiêu chuẩn",
                  "tax_code": "0101243150",
                  "is_personal": false,
                  "debt_limit": 100000000,
                  "number_of_days_owed": 30,
                  "identification": ""
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseV2"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Thực hiện cập nhật theo danh sách",
        "parameters": [
          {
            "name": "Clientid",
            "in": "header",
            "description": "Mã ứng dụng đăng ký trên crm",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Request body: Danh sách khách hàng\r\n-\tXem thêm các trường có thể sử dụng tại ứng dụng CRM → Thiết lập → Dành cho nhà phát triển → API → tab Trường",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_name": {
                    "type": "string",
                    "description": "Chủ sở hữu"
                  },
                  "account_short_name": {
                    "type": "string",
                    "description": "Tên viết tắt"
                  },
                  "fax": {
                    "type": "string",
                    "description": "Fax"
                  },
                  "parent_account_name": {
                    "type": "string",
                    "description": "Đơn vị chủ quản"
                  },
                  "account_type": {
                    "type": "string",
                    "description": "Loại khách hàng"
                  },
                  "sector_name": {
                    "type": "string",
                    "description": "Lĩnh vực"
                  },
                  "no_of_employee_name": {
                    "type": "string",
                    "description": "Quy mô nhân sự"
                  },
                  "bank_account": {
                    "type": "string",
                    "description": "Tài khoản ngân hàng"
                  },
                  "celebrate_date": {
                    "type": "string",
                    "description": "Ngày thành lập/Ngày sinh",
                    "format": "date"
                  },
                  "lead_source": {
                    "type": "string",
                    "description": "Nguồn gốc"
                  },
                  "account_name": {
                    "type": "string",
                    "description": "Tên khách hàng"
                  },
                  "office_email": {
                    "type": "string",
                    "description": "Email"
                  },
                  "website": {
                    "type": "string",
                    "description": "Website"
                  },
                  "account_number": {
                    "type": "string",
                    "description": "Mã khách hàng"
                  },
                  "business_type": {
                    "type": "string",
                    "description": "Loại hình"
                  },
                  "industry": {
                    "type": "string",
                    "description": "Ngành nghề"
                  },
                  "annual_revenue": {
                    "type": "string",
                    "description": "Doanh thu"
                  },
                  "budget_code": {
                    "type": "string",
                    "description": "Mã ngân sách"
                  },
                  "bank_name": {
                    "type": "string",
                    "description": "Mở tại ngân hàng"
                  },
                  "customer_since_date": {
                    "type": "string",
                    "description": "Là khách hàng từ",
                    "format": "date"
                  },
                  "billing_address": {
                    "type": "string",
                    "description": "Địa chỉ (Hóa đơn)"
                  },
                  "billing_country": {
                    "type": "string",
                    "description": "Quốc gia (Hóa đơn)"
                  },
                  "billing_province": {
                    "type": "string",
                    "description": "Tỉnh/Thành phố (Hóa đơn)"
                  },
                  "billing_district": {
                    "type": "string",
                    "description": "Quận/Huyện (Hóa đơn)"
                  },
                  "billing_ward": {
                    "type": "string",
                    "description": "Phường/Xã (Hóa đơn)"
                  },
                  "billing_street": {
                    "type": "string",
                    "description": "Số nhà, Đường phố (Hóa đơn)"
                  },
                  "billing_code": {
                    "type": "string",
                    "description": "Mã vùng (Hóa đơn)"
                  },
                  "shipping_address": {
                    "type": "string",
                    "description": "Địa chỉ (Giao hàng)"
                  },
                  "shipping_country": {
                    "type": "string",
                    "description": "Quốc gia (Giao hàng)"
                  },
                  "shipping_province": {
                    "type": "string",
                    "description": "Tỉnh/Thành phố (Giao hàng)"
                  },
                  "shipping_district": {
                    "type": "string",
                    "description": "Quận/Huyện (Giao hàng)"
                  },
                  "shipping_ward": {
                    "type": "string",
                    "description": "Phường/Xã (Giao hàng)"
                  },
                  "shipping_street": {
                    "type": "string",
                    "description": "Số nhà, Đường phố (Giao hàng)"
                  },
                  "shipping_code": {
                    "type": "string",
                    "description": "Mã vùng (Giao hàng)"
                  },
                  "description": {
                    "type": "string",
                    "description": "Mô tả"
                  },
                  "office_tel": {
                    "type": "string",
                    "description": "Điện thoại"
                  },
                  "form_layout": {
                    "type": "string",
                    "description": "Bố cục"
                  },
                  "tax_code": {
                    "type": "string",
                    "description": "Mã số thuế"
                  },
                  "is_personal": {
                    "type": "boolean",
                    "description": "Là KH cá nhân"
                  },
                  "debt_limit": {
                    "type": "number",
                    "description": "Hạn mức nợ"
                  },
                  "number_of_days_owed": {
                    "type": "integer",
                    "description": "Số ngày được nợ"
                  },
                  "identification": {
                    "type": "string",
                    "description": "Số CMND/CCCD"
                  },
                  "issued_on": {
                    "type": "string",
                    "description": "Ngày cấp",
                    "format": "date"
                  },
                  "place_of_issue": {
                    "type": "string",
                    "description": "Nơi cấp"
                  },
                  "gender": {
                    "type": "string",
                    "description": "Giới tính"
                  }
                }
              },
              "example": [
                {
                  "owner_name": "Lê Thị Lan (NV000001)",
                  "account_short_name": "Anh Thịnh",
                  "fax": "0123456789",
                  "parent_account_name": "Công ty cổ phần MISA",
                  "account_type": "Khách hàng dự án",
                  "sector_name": "Dịch vụ",
                  "no_of_employee_name": "Trên 1000",
                  "bank_account": "",
                  "celebrate_date": "1994-01-01T00:00:00.0000000+07:00",
                  "lead_source": "Marketing",
                  "account_name": "Công ty cổ phần MISA",
                  "office_email": "misa-group@misa.vn",
                  "website": "misa.vn",
                  "account_number": "KH00001",
                  "business_type": "Doanh nghiệp",
                  "industry": "Dịch vụ cung ứng phần mềm",
                  "annual_revenue": "Trên 100 tỷ đồng",
                  "budget_code": "",
                  "bank_name": "ACB",
                  "customer_since_date": "2022-01-01T00:00:00.0000000+07:00",
                  "billing_address": "Phường Phương Mai, Quận Đống Đa, Thành phố Hà Nội, Việt Nam",
                  "billing_country": "Việt Nam",
                  "billing_province": "Hà Nội",
                  "billing_district": "Đống Đa",
                  "billing_ward": "Phương Mai",
                  "billing_street": "",
                  "billing_code": "01006",
                  "shipping_address": "Phường Phương Mai, Quận Đống Đa, Thành phố Hà Nội, Việt Nam",
                  "shipping_country": "Việt Nam",
                  "shipping_province": "Hà Nội",
                  "shipping_district": "Đống Đa",
                  "shipping_ward": "Phương Mai",
                  "shipping_street": "",
                  "shipping_code": "01006",
                  "description": "Mô tả",
                  "office_tel": "0123456789",
                  "form_layout": "Mẫu tiêu chuẩn",
                  "tax_code": "0101243150",
                  "is_personal": false,
                  "debt_limit": 100000000,
                  "number_of_days_owed": 30,
                  "identification": ""
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseV2"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Thực hiện xoá theo danh sách id",
        "parameters": [
          {
            "name": "Clientid",
            "in": "header",
            "description": "Mã ứng dụng đăng ký trên crm",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                },
                "nullable": true
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                },
                "nullable": true
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                },
                "nullable": true
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                },
                "nullable": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseV2"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Paging lấy về danh sách có phân trang",
        "description": "page bắt đầu từ 0, pageSize max là 100, mặc định là 10, orderBy mặc định là theo modified_date desc",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Trang muốn xem",
            "schema": {
              "type": "integer",
              "description": "Trang muốn xem",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Số bản ghi trên 1 trang",
            "schema": {
              "type": "integer",
              "description": "Số bản ghi trên 1 trang",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sắp xếp theo",
            "schema": {
              "type": "string",
              "description": "Sắp xếp theo",
              "default": "modified_date",
              "nullable": true
            }
          },
          {
            "name": "isDescending",
            "in": "query",
            "description": "Giảm dần",
            "schema": {
              "type": "boolean",
              "description": "Giảm dần",
              "default": true
            }
          },
          {
            "name": "Clientid",
            "in": "header",
            "description": "Mã ứng dụng đăng ký trên crm",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseV2"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/Customers/id": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Lấy dữ liệu theo id",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "danh sách id",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              },
              "description": "danh sách id",
              "nullable": true
            }
          },
          {
            "name": "Clientid",
            "in": "header",
            "description": "Mã ứng dụng đăng ký trên crm",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseV2"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/Customers/code": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Lấy dữ liệu theo mã",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Clientid",
            "in": "header",
            "description": "Mã ứng dụng đăng ký trên crm",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseV2"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/Products": {
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Thực hiện thêm mới theo danh sách",
        "parameters": [
          {
            "name": "Clientid",
            "in": "header",
            "description": "Mã ứng dụng đăng ký trên crm",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Request body: Danh sách hàng hóa\r\n-\tXem thêm các trường có thể sử dụng tại ứng dụng CRM → Thiết lập → Dành cho nhà phát triển → API → tab Trường",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_name": {
                    "type": "string",
                    "description": "Chủ sở hữu"
                  },
                  "product_code": {
                    "type": "string",
                    "description": "Mã hàng hóa"
                  },
                  "product_category": {
                    "type": "string",
                    "description": "Loại hàng hóa"
                  },
                  "usage_unit": {
                    "type": "string",
                    "description": "Đơn vị tính chính"
                  },
                  "product_name": {
                    "type": "string",
                    "description": "Tên hàng hóa"
                  },
                  "inactive": {
                    "type": "boolean",
                    "description": "Ngừng theo dõi"
                  },
                  "unit_price": {
                    "type": "string",
                    "description": "Đơn giá bán"
                  },
                  "tax": {
                    "type": "string",
                    "description": "Thuế GTGT"
                  },
                  "description": {
                    "type": "string",
                    "description": "Diễn giải"
                  },
                  "purchased_price": {
                    "type": "string",
                    "description": "Đơn giá mua"
                  },
                  "form_layout": {
                    "type": "string",
                    "description": "Bố cục"
                  },
                  "unit_price1": {
                    "type": "string",
                    "description": "Đơn giá bán 1"
                  },
                  "unit_price2": {
                    "type": "string",
                    "description": "Đơn giá bán 2"
                  },
                  "unit_price_fixed": {
                    "type": "string",
                    "description": "Đơn giá bán cố định"
                  },
                  "sale_description": {
                    "type": "string",
                    "description": "Diễn giải khi bán"
                  },
                  "product_properties": {
                    "type": "string",
                    "description": "Tính chất"
                  }
                }
              },
              "example": [
                {
                  "owner_name": "Lê Thị Lan (NV000001)",
                  "product_code": "HH00001",
                  "product_category": "Hàng hóa",
                  "usage_unit": "Bộ",
                  "product_name": "Tên hàng hóa",
                  "inactive": false,
                  "unit_price": "2000000",
                  "tax": "10%",
                  "description": "Mô tả",
                  "purchased_price": "1850000",
                  "form_layout": "Bố cục",
                  "unit_price1": "2100000",
                  "unit_price2": "2200000",
                  "unit_price_fixed": "2000000"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseV2"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Products"
        ],
        "summary": "Thực hiện cập nhật theo danh sách",
        "parameters": [
          {
            "name": "Clientid",
            "in": "header",
            "description": "Mã ứng dụng đăng ký trên crm",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Request body: Danh sách hàng hóa\r\n-\tXem thêm các trường có thể sử dụng tại ứng dụng CRM → Thiết lập → Dành cho nhà phát triển → API → tab Trường",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_name": {
                    "type": "string",
                    "description": "Chủ sở hữu"
                  },
                  "product_code": {
                    "type": "string",
                    "description": "Mã hàng hóa"
                  },
                  "product_category": {
                    "type": "string",
                    "description": "Loại hàng hóa"
                  },
                  "usage_unit": {
                    "type": "string",
                    "description": "Đơn vị tính chính"
                  },
                  "product_name": {
                    "type": "string",
                    "description": "Tên hàng hóa"
                  },
                  "inactive": {
                    "type": "boolean",
                    "description": "Ngừng theo dõi"
                  },
                  "unit_price": {
                    "type": "string",
                    "description": "Đơn giá bán"
                  },
                  "tax": {
                    "type": "string",
                    "description": "Thuế GTGT"
                  },
                  "description": {
                    "type": "string",
                    "description": "Diễn giải"
                  },
                  "purchased_price": {
                    "type": "string",
                    "description": "Đơn giá mua"
                  },
                  "form_layout": {
                    "type": "string",
                    "description": "Bố cục"
                  },
                  "unit_price1": {
                    "type": "string",
                    "description": "Đơn giá bán 1"
                  },
                  "unit_price2": {
                    "type": "string",
                    "description": "Đơn giá bán 2"
                  },
                  "unit_price_fixed": {
                    "type": "string",
                    "description": "Đơn giá bán cố định"
                  },
                  "sale_description": {
                    "type": "string",
                    "description": "Diễn giải khi bán"
                  },
                  "product_properties": {
                    "type": "string",
                    "description": "Tính chất"
                  }
                }
              },
              "example": [
                {
                  "owner_name": "Lê Thị Lan (NV000001)",
                  "product_code": "HH00001",
                  "product_category": "Hàng hóa",
                  "usage_unit": "Bộ",
                  "product_name": "Tên hàng hóa",
                  "inactive": false,
                  "unit_price": "2000000",
                  "tax": "10%",
                  "description": "Mô tả",
                  "purchased_price": "1850000",
                  "form_layout": "Bố cục",
                  "unit_price1": "2100000",
                  "unit_price2": "2200000",
                  "unit_price_fixed": "2000000"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseV2"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Products"
        ],
        "summary": "Thực hiện xoá theo danh sách id",
        "parameters": [
          {
            "name": "Clientid",
            "in": "header",
            "description": "Mã ứng dụng đăng ký trên crm",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                },
                "nullable": true
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                },
                "nullable": true
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                },
                "nullable": true
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                },
                "nullable": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseV2"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Paging lấy về danh sách có phân trang",
        "description": "page bắt đầu từ 0, pageSize max là 100, mặc định là 10, orderBy mặc định là theo modified_date desc",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Trang muốn xem",
            "schema": {
              "type": "integer",
              "description": "Trang muốn xem",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Số bản ghi trên 1 trang",
            "schema": {
              "type": "integer",
              "description": "Số bản ghi trên 1 trang",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sắp xếp theo",
            "schema": {
              "type": "string",
              "description": "Sắp xếp theo",
              "default": "modified_date",
              "nullable": true
            }
          },
          {
            "name": "isDescending",
            "in": "query",
            "description": "Giảm dần",
            "schema": {
              "type": "boolean",
              "description": "Giảm dần",
              "default": true
            }
          },
          {
            "name": "Clientid",
            "in": "header",
            "description": "Mã ứng dụng đăng ký trên crm",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseV2"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/Products/id": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Lấy dữ liệu theo id",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "danh sách id",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              },
              "description": "danh sách id",
              "nullable": true
            }
          },
          {
            "name": "Clientid",
            "in": "header",
            "description": "Mã ứng dụng đăng ký trên crm",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseV2"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/Products/code": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Lấy dữ liệu theo mã",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Clientid",
            "in": "header",
            "description": "Mã ứng dụng đăng ký trên crm",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseV2"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/SaleOrders": {
      "post": {
        "tags": [
          "SaleOrders"
        ],
        "summary": "Thực hiện thêm mới theo danh sách",
        "parameters": [
          {
            "name": "Clientid",
            "in": "header",
            "description": "Mã ứng dụng đăng ký trên crm",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Request body: Danh sách đơn hàng\r\n-\tLưu ý khi sửa đơn hàng sẽ ghi đè toàn bộ bảng hàng hoá\r\n-\tƯu tiên cập nhật thông qua id, nếu không có id sẽ cập nhật qua Số đơn hàng\r\n-\tXem thêm các trường có thể sử dụng tại ứng dụng CRM → Thiết lập → Dành cho nhà phát triển → API → tab Trường\r\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sale_order_no": {
                    "type": "string",
                    "description": "Số đơn hàng"
                  },
                  "book_date": {
                    "type": "string",
                    "description": "Ngày ghi sổ",
                    "format": "date"
                  },
                  "sale_order_amount": {
                    "type": "number",
                    "description": "Giá trị đơn hàng"
                  },
                  "deadline_date": {
                    "type": "string",
                    "description": "Hạn giao hàng",
                    "format": "date"
                  },
                  "status": {
                    "type": "string",
                    "description": "Tình trạng"
                  },
                  "sale_order_name": {
                    "type": "string",
                    "description": "Diễn giải"
                  },
                  "sale_order_date": {
                    "type": "string",
                    "description": "Ngày đặt hàng",
                    "format": "date"
                  },
                  "account_name": {
                    "type": "string",
                    "description": "Khách hàng"
                  },
                  "contact_name": {
                    "type": "string",
                    "description": "Liên hệ"
                  },
                  "due_date": {
                    "type": "string",
                    "description": "Hạn thanh toán",
                    "format": "date"
                  },
                  "delivery_status": {
                    "type": "string",
                    "description": "Tình trạng giao hàng"
                  },
                  "sale_order_type": {
                    "type": "string",
                    "description": "Loại đơn hàng"
                  },
                  "revenue_status": {
                    "type": "string",
                    "description": "Tình trạng ghi doanh số"
                  },
                  "description": {
                    "type": "string",
                    "description": "Mô tả"
                  },
                  "pay_status": {
                    "type": "string",
                    "description": "Tình trạng thanh toán"
                  },
                  "invoiced_amount": {
                    "type": "number",
                    "description": "Giá trị đã xuất hóa đơn"
                  },
                  "total_receipted_amount": {
                    "type": "number",
                    "description": "Thực thu"
                  },
                  "is_invoiced": {
                    "type": "boolean",
                    "description": "Đã xuất hóa đơn"
                  },
                  "billing_address": {
                    "type": "string",
                    "description": "Địa chỉ (Hóa đơn)"
                  },
                  "billing_country": {
                    "type": "string",
                    "description": "Quốc gia (Hóa đơn)"
                  },
                  "billing_province": {
                    "type": "string",
                    "description": "Tỉnh/Thành phố (Hóa đơn)"
                  },
                  "billing_district": {
                    "type": "string",
                    "description": "Quận/Huyện (Hóa đơn)"
                  },
                  "billing_ward": {
                    "type": "string",
                    "description": "Phường/Xã (Hóa đơn)"
                  },
                  "billing_street": {
                    "type": "string",
                    "description": "Số nhà, Đường phố (Hóa đơn)"
                  },
                  "billing_code": {
                    "type": "string",
                    "description": "Mã vùng (Hóa đơn)"
                  },
                  "shipping_address": {
                    "type": "string",
                    "description": "Địa chỉ (Giao hàng)"
                  },
                  "shipping_country": {
                    "type": "string",
                    "description": "Quốc gia (Giao hàng)"
                  },
                  "shipping_province": {
                    "type": "string",
                    "description": "Tỉnh/Thành phố (Giao hàng)"
                  },
                  "shipping_district": {
                    "type": "string",
                    "description": "Quận/Huyện (Giao hàng)"
                  },
                  "shipping_ward": {
                    "type": "string",
                    "description": "Phường/Xã (Giao hàng)"
                  },
                  "shipping_street": {
                    "type": "string",
                    "description": "Số nhà, Đường phố (Giao hàng)"
                  },
                  "shipping_code": {
                    "type": "string",
                    "description": "Mã vùng (Giao hàng)"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Điện thoại"
                  },
                  "organization_unit_name": {
                    "type": "string",
                    "description": "Đơn vị"
                  },
                  "form_layout": {
                    "type": "string",
                    "description": "Bố cục"
                  },
                  "owner_name": {
                    "type": "string",
                    "description": "Người thực hiện"
                  },
                  "total_summary": {
                    "type": "string",
                    "description": "Tổng tiền"
                  },
                  "tax_summary": {
                    "type": "string",
                    "description": "Tiền thuế"
                  },
                  "discount_summary": {
                    "type": "string",
                    "description": "Tiền chiết khấu"
                  },
                  "to_currency_summary": {
                    "type": "string",
                    "description": "Thành tiền"
                  },
                  "sale_order_process_cost": {
                    "type": "number",
                    "description": "Dự kiến chi"
                  },
                  "recorded_sale_organization_unit_name": {
                    "type": "string",
                    "description": "Đơn vị được ghi DS"
                  },
                  "recorded_sale_users_name": {
                    "type": "string",
                    "description": "Nhân viên được ghi DS"
                  },
                  "liquidate_amount": {
                    "type": "number",
                    "description": "Giá trị thanh lý"
                  },
                  "sale_order_product_mappings": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "product_code": {
                          "type": "string",
                          "description": "Mã hàng hoá"
                        },
                        "tax_percent": {
                          "type": "string",
                          "description": "Thuế suất"
                        },
                        "to_currency": {
                          "type": "number",
                          "description": "Thành tiền"
                        },
                        "description": {
                          "type": "string",
                          "description": "Diễn giải"
                        },
                        "stock_name": {
                          "type": "string",
                          "description": "Kho"
                        },
                        "price": {
                          "type": "string",
                          "description": "Đơn giá"
                        },
                        "amount": {
                          "type": "number",
                          "description": "Số lượng"
                        },
                        "unit": {
                          "type": "string",
                          "description": "Đơn vị tính"
                        },
                        "price_after_tax": {
                          "type": "string",
                          "description": "Đơn giá sau thuế"
                        },
                        "discount": {
                          "type": "number",
                          "description": "Tiền chiết khấu"
                        },
                        "tax": {
                          "type": "number",
                          "description": "Tiền thuế"
                        },
                        "total": {
                          "type": "number",
                          "description": "Tổng tiền"
                        }
                      }
                    },
                    "description": "Thông tin hàng hoá"
                  }
                }
              },
              "example": [
                {
                  "sale_order_no": "DH000001",
                  "book_date": "2022-01-01T00:00:00.0000000+07:00",
                  "sale_order_amount": 1000000,
                  "deadline_date": "2022-03-01T00:00:00.0000000+07:00",
                  "status": "Chưa thực hiện",
                  "sale_order_name": "Bán hàng cho công ty cổ phần MISA",
                  "sale_order_date": "2022-01-01T00:00:00.0000000+07:00",
                  "account_name": "KH000001",
                  "contact_name": "LH00001",
                  "due_date": "2022-03-01T00:00:00.0000000+07:00",
                  "delivery_status": "Chưa giao hàng",
                  "sale_order_type": "Bán mới",
                  "revenue_status": "Bản nháp",
                  "description": "Mô tả",
                  "pay_status": "Chưa thanh toán",
                  "invoiced_amount": 0,
                  "total_receipted_amount": 0,
                  "is_invoiced": false,
                  "billing_address": "Phường Phương Mai, Quận Đống Đa, Thành phố Hà Nội, Việt Nam",
                  "billing_country": "Việt Nam",
                  "billing_province": "Hà Nội",
                  "billing_district": "Đống Đa",
                  "billing_ward": "Phương Mai",
                  "billing_street": "",
                  "billing_code": "01006",
                  "shipping_address": "Phường Phương Mai, Quận Đống Đa, Thành phố Hà Nội, Việt Nam",
                  "shipping_country": "Việt Nam",
                  "shipping_province": "Hà Nội",
                  "shipping_district": "Đống Đa",
                  "shipping_ward": "Phương Mai",
                  "shipping_street": "",
                  "shipping_code": "01006",
                  "phone": "0123456789",
                  "organization_unit_name": "PKD",
                  "form_layout": "Mẫu tiêu chuẩn",
                  "owner_name": "Lê Thị Lan (NV000001)",
                  "total_summary": "1000000",
                  "tax_summary": "100000",
                  "discount_summary": "0",
                  "to_currency_summary": "1000000",
                  "sale_order_process_cost": 0,
                  "recorded_sale_organization_unit_name": "PKD",
                  "recorded_sale_users_name": "NV000001",
                  "liquidate_amount": 1000000,
                  "sale_order_product_mappings": [
                    {
                      "product_code": "HH00001",
                      "tax_percent": "10%",
                      "to_currency": 1000000,
                      "description": "Hàng hoá 01",
                      "stock_name": "K1",
                      "price": "100000",
                      "amount": 10,
                      "unit": "Cái",
                      "price_after_tax": "10",
                      "discount": 0,
                      "tax": 100000,
                      "total": 1000000
                    }
                  ]
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseV2"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "SaleOrders"
        ],
        "summary": "Thực hiện cập nhật theo danh sách",
        "parameters": [
          {
            "name": "Clientid",
            "in": "header",
            "description": "Mã ứng dụng đăng ký trên crm",
            "required": true
          }
        ],
        "requestBody": {
          "description": "Request body: Danh sách đơn hàng\r\n-\tLưu ý khi sửa đơn hàng sẽ ghi đè toàn bộ bảng hàng hoá\r\n-\tƯu tiên cập nhật thông qua id, nếu không có id sẽ cập nhật qua Số đơn hàng\r\n-\tXem thêm các trường có thể sử dụng tại ứng dụng CRM → Thiết lập → Dành cho nhà phát triển → API → tab Trường\r\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sale_order_no": {
                    "type": "string",
                    "description": "Số đơn hàng"
                  },
                  "book_date": {
                    "type": "string",
                    "description": "Ngày ghi sổ",
                    "format": "date"
                  },
                  "sale_order_amount": {
                    "type": "number",
                    "description": "Giá trị đơn hàng"
                  },
                  "deadline_date": {
                    "type": "string",
                    "description": "Hạn giao hàng",
                    "format": "date"
                  },
                  "status": {
                    "type": "string",
                    "description": "Tình trạng"
                  },
                  "sale_order_name": {
                    "type": "string",
                    "description": "Diễn giải"
                  },
                  "sale_order_date": {
                    "type": "string",
                    "description": "Ngày đặt hàng",
                    "format": "date"
                  },
                  "account_name": {
                    "type": "string",
                    "description": "Khách hàng"
                  },
                  "contact_name": {
                    "type": "string",
                    "description": "Liên hệ"
                  },
                  "due_date": {
                    "type": "string",
                    "description": "Hạn thanh toán",
                    "format": "date"
                  },
                  "delivery_status": {
                    "type": "string",
                    "description": "Tình trạng giao hàng"
                  },
                  "sale_order_type": {
                    "type": "string",
                    "description": "Loại đơn hàng"
                  },
                  "revenue_status": {
                    "type": "string",
                    "description": "Tình trạng ghi doanh số"
                  },
                  "description": {
                    "type": "string",
                    "description": "Mô tả"
                  },
                  "pay_status": {
                    "type": "string",
                    "description": "Tình trạng thanh toán"
                  },
                  "invoiced_amount": {
                    "type": "number",
                    "description": "Giá trị đã xuất hóa đơn"
                  },
                  "total_receipted_amount": {
                    "type": "number",
                    "description": "Thực thu"
                  },
                  "is_invoiced": {
                    "type": "boolean",
                    "description": "Đã xuất hóa đơn"
                  },
                  "billing_address": {
                    "type": "string",
                    "description": "Địa chỉ (Hóa đơn)"
                  },
                  "billing_country": {
                    "type": "string",
                    "description": "Quốc gia (Hóa đơn)"
                  },
                  "billing_province": {
                    "type": "string",
                    "description": "Tỉnh/Thành phố (Hóa đơn)"
                  },
                  "billing_district": {
                    "type": "string",
                    "description": "Quận/Huyện (Hóa đơn)"
                  },
                  "billing_ward": {
                    "type": "string",
                    "description": "Phường/Xã (Hóa đơn)"
                  },
                  "billing_street": {
                    "type": "string",
                    "description": "Số nhà, Đường phố (Hóa đơn)"
                  },
                  "billing_code": {
                    "type": "string",
                    "description": "Mã vùng (Hóa đơn)"
                  },
                  "shipping_address": {
                    "type": "string",
                    "description": "Địa chỉ (Giao hàng)"
                  },
                  "shipping_country": {
                    "type": "string",
                    "description": "Quốc gia (Giao hàng)"
                  },
                  "shipping_province": {
                    "type": "string",
                    "description": "Tỉnh/Thành phố (Giao hàng)"
                  },
                  "shipping_district": {
                    "type": "string",
                    "description": "Quận/Huyện (Giao hàng)"
                  },
                  "shipping_ward": {
                    "type": "string",
                    "description": "Phường/Xã (Giao hàng)"
                  },
                  "shipping_street": {
                    "type": "string",
                    "description": "Số nhà, Đường phố (Giao hàng)"
                  },
                  "shipping_code": {
                    "type": "string",
                    "description": "Mã vùng (Giao hàng)"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Điện thoại"
                  },
                  "organization_unit_name": {
                    "type": "string",
                    "description": "Đơn vị"
                  },
                  "form_layout": {
                    "type": "string",
                    "description": "Bố cục"
                  },
                  "owner_name": {
                    "type": "string",
                    "description": "Người thực hiện"
                  },
                  "total_summary": {
                    "type": "string",
                    "description": "Tổng tiền"
                  },
                  "tax_summary": {
                    "type": "string",
                    "description": "Tiền thuế"
                  },
                  "discount_summary": {
                    "type": "string",
                    "description": "Tiền chiết khấu"
                  },
                  "to_currency_summary": {
                    "type": "string",
                    "description": "Thành tiền"
                  },
                  "sale_order_process_cost": {
                    "type": "number",
                    "description": "Dự kiến chi"
                  },
                  "recorded_sale_organization_unit_name": {
                    "type": "string",
                    "description": "Đơn vị được ghi DS"
                  },
                  "recorded_sale_users_name": {
                    "type": "string",
                    "description": "Nhân viên được ghi DS"
                  },
                  "liquidate_amount": {
                    "type": "number",
                    "description": "Giá trị thanh lý"
                  },
                  "sale_order_product_mappings": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "product_code": {
                          "type": "string",
                          "description": "Mã hàng hoá"
                        },
                        "tax_percent": {
                          "type": "string",
                          "description": "Thuế suất"
                        },
                        "to_currency": {
                          "type": "number",
                          "description": "Thành tiền"
                        },
                        "description": {
                          "type": "string",
                          "description": "Diễn giải"
                        },
                        "stock_name": {
                          "type": "string",
                          "description": "Kho"
                        },
                        "price": {
                          "type": "string",
                          "description": "Đơn giá"
                        },
                        "amount": {
                          "type": "number",
                          "description": "Số lượng"
                        },
                        "unit": {
                          "type": "string",
                          "description": "Đơn vị tính"
                        },
                        "price_after_tax": {
                          "type": "string",
                          "description": "Đơn giá sau thuế"
                        },
                        "discount": {
                          "type": "number",
                          "description": "Tiền chiết khấu"
                        },
                        "tax": {
                          "type": "number",
                          "description": "Tiền thuế"
                        },
                        "total": {
                          "type": "number",
                          "description": "Tổng tiền"
                        }
                      }
                    },
                    "description": "Thông tin hàng hoá"
                  }
                }
              },
              "example": [
                {
                  "sale_order_no": "DH000001",
                  "book_date": "2022-01-01T00:00:00.0000000+07:00",
                  "sale_order_amount": 1000000,
                  "deadline_date": "2022-03-01T00:00:00.0000000+07:00",
                  "status": "Chưa thực hiện",
                  "sale_order_name": "Bán hàng cho công ty cổ phần MISA",
                  "sale_order_date": "2022-01-01T00:00:00.0000000+07:00",
                  "account_name": "KH000001",
                  "contact_name": "LH00001",
                  "due_date": "2022-03-01T00:00:00.0000000+07:00",
                  "delivery_status": "Chưa giao hàng",
                  "sale_order_type": "Bán mới",
                  "revenue_status": "Bản nháp",
                  "description": "Mô tả",
                  "pay_status": "Chưa thanh toán",
                  "invoiced_amount": 0,
                  "total_receipted_amount": 0,
                  "is_invoiced": false,
                  "billing_address": "Phường Phương Mai, Quận Đống Đa, Thành phố Hà Nội, Việt Nam",
                  "billing_country": "Việt Nam",
                  "billing_province": "Hà Nội",
                  "billing_district": "Đống Đa",
                  "billing_ward": "Phương Mai",
                  "billing_street": "",
                  "billing_code": "01006",
                  "shipping_address": "Phường Phương Mai, Quận Đống Đa, Thành phố Hà Nội, Việt Nam",
                  "shipping_country": "Việt Nam",
                  "shipping_province": "Hà Nội",
                  "shipping_district": "Đống Đa",
                  "shipping_ward": "Phương Mai",
                  "shipping_street": "",
                  "shipping_code": "01006",
                  "phone": "0123456789",
                  "organization_unit_name": "PKD",
                  "form_layout": "Mẫu tiêu chuẩn",
                  "owner_name": "Lê Thị Lan (NV000001)",
                  "total_summary": "1000000",
                  "tax_summary": "100000",
                  "discount_summary": "0",
                  "to_currency_summary": "1000000",
                  "sale_order_process_cost": 0,
                  "recorded_sale_organization_unit_name": "PKD",
                  "recorded_sale_users_name": "NV000001",
                  "liquidate_amount": 1000000,
                  "sale_order_product_mappings": [
                    {
                      "product_code": "HH00001",
                      "tax_percent": "10%",
                      "to_currency": 1000000,
                      "description": "Hàng hoá 01",
                      "stock_name": "K1",
                      "price": "100000",
                      "amount": 10,
                      "unit": "Cái",
                      "price_after_tax": "10",
                      "discount": 0,
                      "tax": 100000,
                      "total": 1000000
                    }
                  ]
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseV2"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SaleOrders"
        ],
        "summary": "Thực hiện xoá theo danh sách id",
        "parameters": [
          {
            "name": "Clientid",
            "in": "header",
            "description": "Mã ứng dụng đăng ký trên crm",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                },
                "nullable": true
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                },
                "nullable": true
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                },
                "nullable": true
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                },
                "nullable": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseV2"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "SaleOrders"
        ],
        "summary": "Paging lấy về danh sách có phân trang",
        "description": "page bắt đầu từ 0, pageSize max là 100, mặc định là 10, orderBy mặc định là theo modified_date desc",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Trang muốn xem",
            "schema": {
              "type": "integer",
              "description": "Trang muốn xem",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Số bản ghi trên 1 trang",
            "schema": {
              "type": "integer",
              "description": "Số bản ghi trên 1 trang",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sắp xếp theo",
            "schema": {
              "type": "string",
              "description": "Sắp xếp theo",
              "default": "modified_date",
              "nullable": true
            }
          },
          {
            "name": "isDescending",
            "in": "query",
            "description": "Giảm dần",
            "schema": {
              "type": "boolean",
              "description": "Giảm dần",
              "default": true
            }
          },
          {
[...]
